$theme-colors: (
    "doré": #FFFAE9, 
    "dark-grey": #2B2B2B,
);

@import "../node_modules/bootstrap/scss/bootstrap";




#navbar{
    z-index: 1;
    #btnCollapse:hover{
        background-color: rgb(168, 104, 0);
    }
    #bookNow{
        padding: 10px;
        background-color: white;
        border-style: solid;
        border-color: black;
    }
    #bookNow:hover{
        color: rgb(168, 104, 0);
        border-color: rgb(122, 75, 0);
    }
}

#navbar2{

    background-color: #2B2B2B;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    right: 60%;
    top: 0;
    z-index: 2;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    li{
        padding: 20px;
    }
    a{
        color: blanchedalmond;
    }
    #crossCollapse:hover{
        fill: rgb(168, 104, 0);
    }
    a:hover{
        color: rgb(168, 104, 0);
    }
    

}

#mycarousel{
    z-index: 0;
}


#infoHotel{
    margin-top: 50px;
    p{
        word-wrap: break-word;
        width: 100%;
    }

}


body{
    background-color: white;
}



h1{
    text-align: center;
    padding: 2vh;
    color: #D8991F;
    font-family: 'Kiwi Maru';
}




.carousel-item > img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}


.carousel-control-prev-icon { 
    
    background-image:url("../assets/ControlArrowLeft.png"); 
    width: 30px;
    height: 48px;
    
    
}
.carousel-control-next-icon { 
    background-image:url("../assets/ControlArrowLeft.png");
    transform: rotate(180deg);
    width: 30px;
    height: 48px;
}



a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgb(224, 172, 0);
}

.contact-links{
    color: rgb(227, 177, 0);
}
.contact-links:hover{
    color: rgb(126, 86, 0); 
}
