$theme-colors: (
    "doré": #FFFAE9, 
    "dark-grey": #2B2B2B,
);

@import "../node_modules/bootstrap/scss/bootstrap";


body{
    background-color: white;
}


h1{
    text-align: center;
    padding: 2vh;
    color: #D8991F;
    font-family: 'Kiwi Maru';
}




.carousel-item > img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}


.carousel-control-prev-icon { 
    
    background-image:url("../assets/ControlArrowLeft.png"); 
    width: 30px;
    height: 48px;

    
}
.carousel-control-next-icon { 
    background-image:url("../assets/ControlArrowLeft.png");
    transform: rotate(180deg);
    width: 30px;
    height: 48px;
}



a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

a:hover{
    color: rgb(224, 172, 0);
}

.contact-links{
    color: rgb(227, 177, 0);
}
.contact-links:hover{
    color: rgb(126, 86, 0); 
}